<div id="store">
    <p>
        <b>Store</b>
    </p>

    <% habitatModels.forEach((model, i) => { %>
        <div class="store-item">
            <img src="<%= model.image %>"><br>
            <%= model.name %> Habitat<br>
            <form action="/buyHabitat/<%= i %>" method="post">
                <input type="submit" value="buy habitat">
            </form>
        </div>
    <% }); %>

    <br><br>

    <% dragonModels.forEach((dragon, i) => { %>
        <div class="store-item">
            <img src="<%= dragon.images[1] %>"><br>
            <%= dragon.name %> Dragon<br>
            <form action="/buyDragon/<%= i %>/incubate" method="post">
                <input type="submit" value="buy and incubate">
            </form>
        </div>
    <% }); %>
</div>
