<h2>Home Page</h2>

<div>
    <b>store</b>
    <% habitatModels.forEach((model, i) => { %>
        <form action="/buyHabitat/<%= i %>" method="post">
            <span><%= model.name %>
            <input type="submit" value="buy habitat">
        </form>
    <% }); %>
</div>

<div>
    <% habitats.forEach(habitat => { %>
        <div class="habitat">
            <img src="<%= habitat.model.image %>">
            <b><%= habitat.name %> Habitat</b>
            <form action="/sellHabitat/<%= habitat._id %>" method="post">
                <button type="submit">sell habitat</button>
            </form>
        </div>
    <% }); %>
</div>
