<h2>Home Page</h2>

<div id="store">
    <p>
        <b>Store</b>
    </p>

    <% habitatModels.forEach((model, i) => { %>
        <div class="store-item">
            <img src="<%= model.image %>"><br>
            <%= model.name %> Habitat<br>
            <form action="/buyHabitat/<%= i %>" method="post">
                <input type="submit" value="buy habitat">
            </form>
        </div>
    <% }); %>

    <br><br>

    <% dragonModels.forEach((dragon, i) => { %>
        <div class="store-item">
            <img src="<%= dragon.image.baby %>"><br>
            <%= dragon.name %> Dragon<br>
        </div>
    <% }); %>
</div>

<div>
    <% habitats.forEach(habitat => { %>
        <div class="habitat">
            <img src="<%= habitat.model.image %>">
            <b><%= habitat.name %> Habitat</b>
            <form action="/sellHabitat/<%= habitat._id %>" method="post">
                <button type="submit">sell habitat</button>
            </form>
        </div>
    <% }); %>
</div>
