<h2>Home Page</h2>

<%- include('./partials/store', { params: {
}}) %>

<div id="park">
    <div class="incubator">
        <b>incubator</b><br>

        <% incubatorEggs.forEach(dragon => { %>
            <div class="inline">
                <img src="<%= dragon.model.images[0] %>">
                <b><%= dragon.model.name %> Dragon</b>
                <button class="hatch" onClick="hatchEgg('<%= dragon._id %>');">hatch</button>
            </div>
        <% }); %>
    </div>

    <% habitats.forEach(habitat => { %>
        <%- include('./partials/parkHabitat', { params: {
            habitat: habitat,
        }}) %>
    <% }); %>
</div>
