<h2>Home Page</h2>

<div id="store">
    <p>
        <b>Store</b>
    </p>

    <% habitatModels.forEach((model, i) => { %>
        <div class="store-item">
            <img src="<%= model.image %>"><br>
            <%= model.name %> Habitat<br>
            <form action="/buyHabitat/<%= i %>" method="post">
                <input type="submit" value="buy habitat">
            </form>
        </div>
    <% }); %>

    <br><br>

    <% dragonModels.forEach((dragon, i) => { %>
        <div class="store-item">
            <img src="<%= dragon.images[1] %>"><br>
            <%= dragon.name %> Dragon<br>
            <form action="/buyDragon/<%= i %>/incubate" method="post">
                <input type="submit" value="buy and incubate">
            </form>
        </div>
    <% }); %>
</div>

<div id="park">
    <div class="incubator">
        <b>incubator</b><br>

        <% incubatorEggs.forEach(dragon => { %>
            <div class="inline">
                <img src="<%= dragon.model.images[0] %>">
                <b><%= dragon.model.name %> Dragon</b>
                <button class="hatch" onClick="hatchEgg('<%= dragon._id %>');">hatch</button>
            </div>
        <% }); %>
    </div>

    <% habitats.forEach(habitat => { %>
        <div class="habitat">
            <img src="<%= habitat.model.image %>">
            <b><%= habitat.name %> Habitat</b>
            <form action="/sellHabitat/<%= habitat._id %>" method="post">
                <button type="submit">sell habitat</button>
            </form>
            <% incubatorEggs.forEach(dragon => { %>
                <%
                    let hatchRoute = '/hatchDragon/' + dragon._id + '/' + habitat._id;
                %>
                <div class="place-hatched-egg" dragon_id="<%= dragon._id %>">
                    <form action="<%= hatchRoute %>" method="post">
                        <button type="submit">place</button>
                    </form>
                </div>
            <% }); %>
        </div>
    <% }); %>
</div>
